body {
    margin: 0px;
    padding: 0px;
}

.header,
.nav {
    border: 1px solid black;
}

nav {
    text-align: center;
}

.col-6,
.col-3-r {
    text-align: center;
}

#products {
    padding: 5%;
}

#product {
    position: relative;
    left: 15%;
    border: 1px solid black;
}

.body-card {
    top: 0%;
    max-width: 300px;
    max-height: 150px;
}